@charset "UTF-8";
.btn-fixed-position {
    position: fixed;
    bottom: 41px;
    right: 65px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    padding-top: 9px;
    z-index: 110;
}
.row-right {
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    justify-content: flex-end;
}

    .row-right > * {
        flex-shrink: 0;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y)
    }
.vertical-text {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}
.mas-menu-padding {
    padding-top:10px;
    padding-bottom:10px;
    padding-left:5px;
    padding-right:5px;
}
.icon-padding {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1px;
    padding-right: 1px;
}
.text-black{
    color:black;
}
.save_loading {
    width: 140px;
    height: 140px;
    margin: 0 auto;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: ro;
    transform-origin: 50% 50%;
}
body {
    background-image: linear-gradient(to left top, #25c481, #25b7c4, #a8bbe4,#d7e0ee, #bfcee9 );
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.dataTable thead th {
    font-size: 13px;
    background: #f56407ce;
    color: white; /* Text color */
    text-align: center; /* Optional: center align text */
    /*border: 1px solid #ddd;*/ /* Optional: add border */
    /*border-color: aliceblue;*/
    border-radius: 5px;
}
